<style>
    .traduccion {
        color: blueviolet;
        font-size: 30px;
    }
</style>
<hr>
<h1>inicio works!</h1>


<p class="traduccion">
    {{'mensaje' | translate}}
</p>

<h2>¿Como funciona?</h2>
<p>
    Asignación de idioma predeterminado:
</p>
<ol>
    <li>Idioma almacenada en localStorage</li>
    <li>Idioma en la configuración del idioma del navegador, si es español ('es'),
        caso contrario va en Ingles ('es') por defecto
        <br>(Imaginemos que entra un portugues o un italiano)</li>

</ol>

<h2>OBSERVACIONES</h2>
<ul>
    <li>
        SHIFT + CTRL + J // para ver la consola en 'aplication' como se guarda en localstorage
    </li>
    <li>
        por defecto esta en ingles ('en') y la opcion que guardes persiste, fijate actualizando con F5
    </li>
    <li>
        Para hacer pruebas de cambio de idioma... chrome://settings/languages#lang
    </li>
</ul>






    
<h2>
Paquetes NPM
</h2>
commands used for package installation
<ul>
    <li>npm install @ngx-translate/core --save</li>
    <li>npm install @ngx-translate/http-loader --save</li>
</ul>
    

<h2>FUENTE</h2>
<ul>
    <li>
        https://www.youtube.com/watch?v=vSwYuyH4kMA
    </li>
    <li>https://github.com/mderlich/traducciones-ngx-translate</li>
</ul>
<p>


